.persona {
    
    padding-top: 5%;
    background-color: #e0e0e0;
    width: 100%;
    min-height: 100vh;
  }

.persona  a {
    color: #565656;
    background-color: transparent;
    text-decoration: none;
  }
  
.persona  a:hover {
    color:#ffffff ;
    background-color: transparent;
    text-decoration: none;
  }

.header{
    font-family: 'HomePlanetBB-Regular';
    color: #565656;
    font-size: 65px;
    padding-top: 1em;
    text-align: center;
  }
  
  .persona .sub-header {
    font-family:'HomePlanetBB-Regular';
    color:#565656;
    font-size: 40px;
    font-weight: 7px;
    align-items: flex-start;
    margin-top: 5%;
    padding-top: 3%;
    padding-left:4%;
    text-align: left;
  }
  .persona .text {
    font-family: 'Hind-Regular';
    color:#565656;
    font-size: 1.2em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:2%;
    padding-bottom:2%;
    text-align: left;
    margin:0px;
  }
  .persona .list {
    font-family: 'Hind-Regular';
    color:#565656;
    font-size: 1.2em;
    padding-left: 8%;
    text-align: left;
  }
  .persona .box {
    border:2px solid #565656; 
    border-radius: 5px;
    margin-left: 4%;
    margin-top: 5%;
    margin-right: 2%;
    padding: 1%;
  
  }
  .persona .section-header {
    font-family:'Hind-Regular';
    color: #565656;
    font-size: 1.5em;
    padding-left: 3%;
    padding-top:3%;
    padding-bottom:0.5%;
    text-align: left;
  }
  
  .persona .highlight-text {
    color:#539DA0;
  }
  .persona .navbar-brand, .nav-item {
    font-family:'Hind-Regular';
    color: #565656;
    font-size: large;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .persona .image {
    padding-left: 3%;
    padding-top: 4%;
    flex: 1;
    margin-left:1%;
    display: block;
    width: 750px;
    height: 450px;
  
  }
  
  .persona .image-persona {
    margin-left: 20%;
    /* padding-left: 5%; */
    padding-top: 4%;
    /* flex: 1; */
  
  }
  
  /* .persona .text-persona{
    font-size: large;
    font-family:'Hind-Regular';
    color:#565656;
    padding-top: 3%;
    text-align: left;
    padding-left: 5%;
    margin-left: 1%;
  } */
  
  .persona .big-div {
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
  }
  .persona .flex-child-right {
    flex: 1;
    /* border: 2px solid blueviolet; */
    margin: 10px;
    
  }
  .persona .flex-child-left{
   
    /* flex: 1; */
    padding-top: 13%;
    padding-left: 0%;
    text-align: left;
    margin-left: 0%;
    margin-top: 10%;
    width: 30%;
    flex: 0.15;
    height: 40vh;
    font-family:'Hind-Regular';
    padding-top: 15px;
    padding-left: 3em;
    color: #565656;
    font-size: larger;
    border-right: 2px solid #565656;
    position: -webkit-sticky;
    position: sticky;
    top: 17%;
  }
  
  .persona .vl {
    border-left: 2px solid #565656;
    height: 900px;;
    position: absolute;
    left: 17%;
    margin-left: -3px;
    margin-top: -30px;
    top: 20px;
  }